<html>
    <head>
        {% block title %}
        <title>Make Me A Singer</title>
        {% end block %}
    </head>

    <body>
        <nav>
            <div>
                <div>
                    <a href="/">Make Me A Singer</a>
                </div>
                <div>
                    <ul>
                        <li href="/">Generate a Singer Name and Genre of Music They Sing</li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% end block %}
    </body>
</html>